@using AgriEcommerces_MVC.Helpers
@using AgriEcommerces_MVC.Models

@{
    // Lấy giỏ hàng từ session để tính tổng số lượng

    const string CART_KEY = "Cart";

    var cart = Context.Session.GetObject<CartViewModel>(CART_KEY) ?? new CartViewModel();

    var totalQty = cart.Items.Sum(i => i.Quantity);
}

<header>
    <div class="container-fluid">
        <!-- Hàng LOGO + TÌM KIẾM + ICON -->
        <div class="row py-3 border-bottom">
            <!-- logo -->
            <div class="col-sm-4 col-lg-3 text-center text-sm-start">
                <a class="navbar-brand" href="@Url.Action("Index","Home")">
                    <img src="@(Url.Content("~/images/logo.png"))" alt="logo" />
                </a>
            </div>

            <!-- ô tìm kiếm -->
            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
                <form id="search-form"
                      action="@Url.Action("Index", "Search")"
                      method="get">
                    <div class="search-bar d-flex align-items-center bg-light p-2 my-2 rounded-4">
                        <input type="text"
                               name="q"
                               class="form-control border-0 bg-transparent me-3"
                               placeholder="Tìm kiếm sản phẩm bạn cần" />
                        <button type="submit"
                                class="btn btn-primary d-flex align-items-center justify-content-center"
                                style="padding: 0.5rem 1rem;">
                            <svg width="25" height="25" viewBox="0 0 24 24">
                                <path fill="currentColor"
                                      d="M21.71 20.29 18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            

            <!-- hỗ trợ + icon user/cart -->
            <div class="col-sm-8 col-lg-4 d-flex justify-content-end gap-5 align-items-center mt-4 mt-sm-0 justify-content-center justify-content-sm-end">
                <div class="support-box text-end d-none d-xl-block">
                    <span class="fs-6 text-muted">Hỗ trợ 24/7?</span>
                    <h5 class="mb-0">+980-34984089</h5>
                </div>

                <ul class="d-flex list-unstyled m-0 align-items-center">
                    <li class="nav-item dropdown">
                        <a class="rounded-circle bg-light p-2 mx-1 dropdown-toggle nav-link"
                           href="#"
                           id="userDropdown"
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">

                            <img src="@(Url.Content("~/images/LogoInformation.jpg"))" width="30" height="30" alt="LogoInfor" />
                              
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            @if (!User.Identity.IsAuthenticated)

                            {
                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Account"
                                       asp-action="Login">
                                        Đăng nhập
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                       asp-area=""
                                       asp-controller="Account"
                                       asp-action="Register">
                                        Đăng ký
                                    </a>
                                </li>
                            }

                            else

                            {
                                <li class="dropdown-header text-muted">
                                    <a class="nav-link" asp-controller="Home" asp-action="Profile">Trang cá nhân</a>
                                </li>
                                <li><hr class="dropdown-divider" /></li>
                                <li>
                                    <form asp-area=""
                                          asp-controller="Account"
                                          asp-action="Logout"
                                          method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="dropdown-item">Đăng xuất</button>
                                    </form>
                                </li>
                            }
                        </ul>

                    </li>
                </ul>

                <!-- giỏ hàng desktop -->
                <div class="cart text-end d-none d-lg-block">
                    <button class="btn position-relative"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasCart">
                        <img src="@(Url.Content("~/images/Cart.jpg"))" width="40" height="40" />
                        @* badge tổng số lượng *@
                        @if (totalQty > 0)

                        {
                            <span style="color:red" class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                                @totalQty
                            </span>
                        }
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Hàng MENU -->
    <div class="container-fluid">
        <div class="row py-3">
            <div class="d-flex justify-content-center justify-content-sm-between align-items-center">
                <nav class="main-menu navbar navbar-expand-lg">
                    <!-- hamburger -->
                    <button class="navbar-toggler" type="button"
                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <!-- menu offcanvas -->
                    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                         aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header justify-content-center">
                            <button class="btn-close" type="button" data-bs-dismiss="offcanvas"
                                    aria-label="Đóng"></button>
                        </div>

                        <div class="offcanvas-body">
                            <ul class="navbar-nav menu-list list-unstyled d-flex gap-md-3 mb-0">
                                <li class="nav-link"></li>
                                <li class="nav-item active">
                                    <a class="navbar-brand" href="@Url.Action("Index","Home")">Shop</a>
                                </li>
                                
                                <li class="nav-item active"><a class="navbar-brand" asp-controller="Products" asp-action="Index">Sản phẩm</a></li>
                                <li class="nav-item active"><a class="navbar-brand" asp-controller="Home" asp-action="GioiThieu">Giới Thiệu</a></li>
                                
                                <li class="nav-item active"><a class="navbar-brand" asp-controller="Home" asp-action="ThuongHieu" >Thương hiệu</a></li>
                                
                                <li class="nav-item active"><a class="navbar-brand" asp-controller="Home" asp-action="Blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
